@import './assets/reset.min.css';

html,
body {
    height: 100%;
    background-color: #EEE;
    font-family: "\5FAE\8F6F\96C5\9ED1", Arial, Helvetica, sans-serif;
}

#root {
    min-height: 100%;
    background-color: #fff;
    margin: 0 auto;
}

.adm-dot-loading {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
}